/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #eeeeee;
}

#container {
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #000000;
  text-align: center;
  padding: 15px;
  width: 50%;
}

footer > nav > ul > li {
  display: inline-block;
}
footer > nav > ul > li:first-child:before {
  content: "";
}
footer > nav > ul > li:before {
  content: "| ";
}

footer > nav > ul, .post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-item {
  padding: 3px;
  margin-bottom: 1px;
}
