<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= react_component('PageHeader') %>
    <div id="contents">
      <%= yield %>
    </div>
    <footer>
    <nav>
    <ul>
      <li>Copyright (c) 2014</li>
      <li><a href="#">Sobre o ShigotoDoko</a></li>
      <li><a href="#">Mapa do site</a></li>
      <li><a href="#">Entre em contato</a></li>
    </ul>
    </nav>
    </footer>
  </div>
</body>
</html>
